<div class="row">
    <div class="col-6">
        <app-dona  [title]="titulo1"
                    [doughnutChartData]="doughnutChartData1"
        ></app-dona>
    </div>
    <div class="col-6">
        <app-dona
                  [title]="titulo2"
                [doughnutChartData]="doughnutChartData2"
        ></app-dona>
    </div>
</div>
<div class="row">
    <div class="col-6">
          <app-dona
                  [title]="titulo3"
                  [doughnutChartData]="doughnutChartData3"
          ></app-dona>
    </div>
    <div class="col-6">
            <app-dona
                      [title]="titulo4"
                      [doughnutChartData]="doughnutChartData4"
            ></app-dona>
      </div>
</div>
